/.cache/
/.cpcache/
/target/
/jolt/
/bin/
/dist/
/pom.xml
/www/site/
/www/venv/
/src/grenadine/basis.cljc
/src/grenadine/coordinate.cljc
/src/grenadine/expander.cljc
/src/grenadine/gitlibs.cljc
*.md
!/ThirdPartyNotices.md
!/Provenance.md
!/UpstreamPortability.md
!/www/docs/*.md
