{:paths ["src"]
 :mvn/local-repo ".cache/m2"
 :aliases
 {:build
  {:deps
   {io.github.clojure/tools.build {:mvn/version "0.10.14"}}
   :ns-default util.build}
  :deploy
  {:extra-deps
   {slipset/deps-deploy {:mvn/version "0.2.5"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :remote}}
  :oracle
  {:extra-paths ["test"]
   :extra-deps
   {org.clojure/tools.deps {:mvn/version "0.31.1642"}}}}}
